#Project-container{
    display: flex;
    justify-content: center;
}

#Project-container #Project-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 400px;
    margin-bottom: 400px;
}

#Project-container #Project-list img{
    width: 600px;
    z-index: 0;
    position: absolute;
}

#P-description{
    color: #fff;
    background-color: #358cde7e;
    position: relative;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    z-index: 1;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
}

#project-main{
    padding-top: 600px;

}

#project-body{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}
#project-information h2{
    display: flex;
    justify-content: center;
}
#project-img img{
    width: 800px;
    border-radius: 20px;
}

#project-information {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: #ffffff;
    margin-right: 100px;
    row-gap: 60px;
}

#project-body ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
